{% extends 'blogs/layout.html'%}
{%block content%}
{% load crispy_forms_tags%}
<div class="conatiner-1">
	{%include 'blogs/dashboard_side.html'%}
	<!--this is where the user items will be displayed-->
	<div class="container-1">
		<div class="container-1">
			 	<form method="POST" enctype="multipart/form-data">
					{% csrf_token%}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Add Item</legend>
						{{form|crispy}}
					</fieldset>
				     <input class="btn btn-outline-success" type="submit" name="Add Item">
			   </form>
        </div>
	</div>
</div>
{% endblock %}