
<div class="dash-profile">
	   <div class="container-1">
		  <img class="profile-image" src="{{user.profile.image.url}}">
	   </div>
   	   <div class="container-1">
   	   	    <small>{{user.username}}</small>
   	   		<small><strong>{{user.email}}</strong></small>
   	   		<a href="{%url 'profile'%}"><small> Edit Profile</small></a>
   	   </div>
   <ul>
	   	 <li><a href="{%url 'blogs:dashboard'%}">My Products</a></li>
	   	 <li><a href="{% url 'profile'%}">Profile</a></li>
	   	 <li><a href="{%url 'blogs:appload'%}">Add new product</a></li>
   </ul>
</div>