<style type="text/css">
	ul{
		list-style: none;
	}
	.center-con{
		margin-right: auto;
		margin-left: auto;
		align-content: center;
		align-items: center;
	}
</style>
<div class="content-section side-dashboard col-md-3 bg-light card">
   <div class="">
   	   <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
   	   <div class="col">
   	   	    <h1>{{user.username}}</h1>
   	   		<h9>{{user.email}}</h9>
   	   		<a class="btn btn-outline-success" href="{%url 'profile'%}">Edit Profile</a>
   	   </div>
   </div>
   <hr>
   <ul>
	   	 <li><a href="">Purchases</a></li>
	   	 <li><a href="{%url 'blogs:dashboard'%}">My Products</a></li>
	   	 <li><a href="">Reveue</a></li>
	   	 <li><a href="{% url 'profile'%}">Profile</a></li>
	   	 <li><a href="">Sales</a></li>
	   	 <li><a href="{%url 'blogs:appload'%}">Add new product</a></li>
   </ul>
</div>