{%extends 'blogs/layout.html'%}
{% block content%}
      <div class="container-1">
        <h2 >{{item.title}}</h2>
      </div>
      <div class="container-1">
      <div class="container-1 product">
        <div class="card">
          <img src="{{item.image.url}}" class="card-image" alt="">
        </div>
          <div>
              <div class="mb-3">
                    <a href="">
                      <span class="badge purple mr-1">{{object.get_category_display}}</span>
                    </a>
                    <a href="">
                      <span class="badge blue mr-1"></span>
                    </a>
                    <a href="">
                      <span class="badge red mr-1">New product</span>
                    </a>
              </div>

              <p class="lead">
                  {%if item.discount_price%}
                  <span class="mr-1">
                    <del>${{item.price}}</del>
                  </span>
                  <span>${{item.discount_price}}</span>
                   {%else %}
                   ${{item.price}}
                  {%endif%}
              </p>
              <p class="lead font-weight-bold">Description</p>

            <p>{{object.description}}</p>
            <a href="{{object.get_add_to_cart_url}}" class="btn btn-primary btn-md my-0 p">
              Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->
</div>

{%endblock content%}
