{% extends "blogs/layout.html" %}
{% load class_name %}
{% block content %}

<div class='container-1'>
    <div class='flex-column'>
        <h3 class='my-0 py-0'>Results for <b>{{ query }}</b></h3>
    </div>
</div>
        
<div class="container-1">     
      {% for object in object_list %}
        {% with object|class_name as klass %}
          {% if klass == 'Item' %}
          <div class="container-1">
              <div class="col-md-4 mr-10">
                  <a href='{{ object.get_absolute_url }}'>
                  <img  class="card-1" src="{{object.image.url}}">
                  </a>
              </div>
              <div>
                Found: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                      <p>{{ object.description }}</p>
                      <h5 class="text-primary"><b>${{object.price}}</b></h5>
                      <h5>Supplier: {{object.owner}}</h5>
               </div>
          </div>
          {% endif %}
         {% endwith %}
          {% empty %}
          <div class="container-1"> 
              <h1>No results found for <b>{{query}}</b></h1>
              <h6>Try using key words such as perfume, lady, Men's wear, baby's clothes/nappies toys, watches, suits etc</h6>
          </div>
          <hr>
    {% endfor %}

</div>   
{% endblock content %}
</div>